<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>品牌女装</string>
		<key>image</key>
		<string>female_cloth_00</string>
		<key>url</key>
		<string>http://nvzhuang.tmall.com/</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>连衣裙</string>
				<key>image</key>
				<string>female_cloth_01</string>
				<key>url</key>
				<string>http://handuyishe.tmall.com/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>半身裙</string>
				<key>image</key>
				<string>female_cloth_02</string>
				<key>url</key>
				<string>http://aswy.tmall.com/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雪纺衫/蕾丝衫</string>
				<key>image</key>
				<string>female_cloth_03</string>
				<key>url</key>
				<string>http://artka.tmall.com/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>针织衫</string>
				<key>image</key>
				<string>female_cloth_04</string>
				<key>url</key>
				<string>http://inman.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>裤子</string>
				<key>image</key>
				<string>female_cloth_05</string>
				<key>url</key>
				<string>http://leting.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>外套</string>
				<key>image</key>
				<string>female_cloth_06</string>
				<key>url</key>
				<string>http://artley.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>内搭</string>
				<key>image</key>
				<string>female_cloth_07</string>
				<key>url</key>
				<string>http://qiushuiyiren.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>特色服饰</string>
				<key>image</key>
				<string>female_cloth_08</string>
				<key>url</key>
				<string>http://lrosey.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>婚纱礼服 旗袍</string>
				<key>image</key>
				<string>female_cloth_09</string>
				<key>url</key>
				<string>http://sedate.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>文胸套装</string>
				<key>image</key>
				<string>female_cloth_10</string>
				<key>url</key>
				<string>http://yixiangliying.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>睡衣套装</string>
				<key>image</key>
				<string>female_cloth_11</string>
				<key>url</key>
				<string>http://hitorat.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>袜子</string>
				<key>image</key>
				<string>female_cloth_12</string>
				<key>url</key>
				<string>http://only.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>精品男装</string>
		<key>image</key>
		<string>male_cloth_00</string>
		<key>url</key>
		<string>http://nanzhuang.tmall.com/</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>外套</string>
				<key>image</key>
				<string>male_cloth_01</string>
				<key>url</key>
				<string>http://yintai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>T恤</string>
				<key>image</key>
				<string>male_cloth_02</string>
				<key>url</key>
				<string>http://lacoste.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>寸衫</string>
				<key>image</key>
				<string>male_cloth_03</string>
				<key>url</key>
				<string>http://uniqlo.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>针织衫 毛衣</string>
				<key>image</key>
				<string>male_cloth_04</string>
				<key>url</key>
				<string>http://gap.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卫衣</string>
				<key>image</key>
				<string>male_cloth_05</string>
				<key>url</key>
				<string>http://lacoste.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>裤子</string>
				<key>image</key>
				<string>male_cloth_06</string>
				<key>url</key>
				<string>http://it.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西服</string>
				<key>image</key>
				<string>male_cloth_07</string>
				<key>url</key>
				<string>http://playboyjeans.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>特色服饰</string>
				<key>image</key>
				<string>male_cloth_08</string>
				<key>url</key>
				<string>http://semir.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>设计潮牌</string>
				<key>image</key>
				<string>male_cloth_09</string>
				<key>url</key>
				<string>http://metersbonwe.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中老年服装</string>
				<key>image</key>
				<string>male_cloth_10</string>
				<key>url</key>
				<string>http://dickies.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>手机数码</string>
		<key>image</key>
		<string>digital_00</string>
		<key>url</key>
		<string>http://3c.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>手机</string>
				<key>image</key>
				<string>digital_01</string>
				<key>url</key>
				<string>http://huawei.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>数码相机</string>
				<key>image</key>
				<string>digital_02</string>
				<key>url</key>
				<string>http://nikon.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>笔记本电脑</string>
				<key>image</key>
				<string>digital_03</string>
				<key>url</key>
				<string>http://apple.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>台式机</string>
				<key>image</key>
				<string>digital_04</string>
				<key>url</key>
				<string>http://thinkpad.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>平板电脑</string>
				<key>image</key>
				<string>digital_05</string>
				<key>url</key>
				<string>http://samsung.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电脑硬件</string>
				<key>image</key>
				<string>digital_06</string>
				<key>url</key>
				<string>http://lenovo.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MP3、MP4</string>
				<key>image</key>
				<string>digital_07</string>
				<key>url</key>
				<string>http://taidian.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3c数码</string>
				<key>image</key>
				<string>digital_08</string>
				<key>url</key>
				<string>http://meizu.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>优盘存储</string>
				<key>image</key>
				<string>digital_09</string>
				<key>url</key>
				<string>http://kingston.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>办公设备</string>
				<key>image</key>
				<string>digital_10</string>
				<key>url</key>
				<string>http://hp.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电子词典</string>
				<key>image</key>
				<string>digital_11</string>
				<key>url</key>
				<string>http://dell.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>鞋子箱包</string>
		<key>image</key>
		<string>bag_00</string>
		<key>url</key>
		<string>http://bag.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>时尚女鞋</string>
				<key>image</key>
				<string>bag_01</string>
				<key>url</key>
				<string>http://charleskeith.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>流行男鞋</string>
				<key>image</key>
				<string>bag_02</string>
				<key>url</key>
				<string>http://regal.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>单鞋</string>
				<key>image</key>
				<string>bag_03</string>
				<key>url</key>
				<string>http://ruxi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凉鞋</string>
				<key>image</key>
				<string>bag_04</string>
				<key>url</key>
				<string>http://mankefs.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高帮鞋</string>
				<key>image</key>
				<string>bag_05</string>
				<key>url</key>
				<string>http://lining.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>休闲男鞋</string>
				<key>image</key>
				<string>bag_06</string>
				<key>url</key>
				<string>http://anta.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>女包</string>
				<key>image</key>
				<string>bag_07</string>
				<key>url</key>
				<string>http://aidrani.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>男包</string>
				<key>image</key>
				<string>bag_08</string>
				<key>url</key>
				<string>http://bosidandun.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>钱包卡套</string>
				<key>image</key>
				<string>bag_09</string>
				<key>url</key>
				<string>http://daocaoren.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>旅行箱包</string>
				<key>image</key>
				<string>bag_10</string>
				<key>url</key>
				<string>http://balang.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>背包</string>
				<key>image</key>
				<string>bag_11</string>
				<key>url</key>
				<string>http://muzee.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奢华箱包</string>
				<key>image</key>
				<string>bag_12</string>
				<key>url</key>
				<string>http://shejinghui.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美容护肤</string>
		<key>image</key>
		<string>cosmetic_00</string>
		<key>url</key>
		<string>http://mei.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>面部护肤</string>
				<key>image</key>
				<string>cosmetic_01</string>
				<key>url</key>
				<string>http://chando.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面膜</string>
				<key>image</key>
				<string>cosmetic_02</string>
				<key>url</key>
				<string>http://yunifang.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>乳液 面霜</string>
				<key>image</key>
				<string>cosmetic_03</string>
				<key>url</key>
				<string>http://meifubao.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面部护理</string>
				<key>image</key>
				<string>cosmetic_04</string>
				<key>url</key>
				<string>http://lafaso.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>爽肤水</string>
				<key>image</key>
				<string>cosmetic_05</string>
				<key>url</key>
				<string>http://dffx.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>时尚彩妆</string>
				<key>image</key>
				<string>cosmetic_06</string>
				<key>url</key>
				<string>http://carslan.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面部精华</string>
				<key>image</key>
				<string>cosmetic_07</string>
				<key>url</key>
				<string>http://maybelline.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>精油芳华</string>
				<key>image</key>
				<string>cosmetic_08</string>
				<key>url</key>
				<string>http://zxnzhzp.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>香水</string>
				<key>image</key>
				<string>cosmetic_09</string>
				<key>url</key>
				<string>http://pase.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>身体护理</string>
				<key>image</key>
				<string>cosmetic_10</string>
				<key>url</key>
				<string>http://pechoin.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>男士护理</string>
				<key>image</key>
				<string>cosmetic_11</string>
				<key>url</key>
				<string>http://menplus.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>假发 美容工具</string>
				<key>image</key>
				<string>cosmetic_12</string>
				<key>url</key>
				<string>http://mofameiren.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>母婴用品</string>
		<key>image</key>
		<string>baby_00</string>
		<key>url</key>
		<string>http://baby.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>奶粉</string>
				<key>image</key>
				<string>baby_01</string>
				<key>url</key>
				<string>http://meadjohnson.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>纸尿裤</string>
				<key>image</key>
				<string>baby_02</string>
				<key>url</key>
				<string>http://huggies.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>品质童装</string>
				<key>image</key>
				<string>baby_03</string>
				<key>url</key>
				<string>http://balabala.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>可爱童装</string>
				<key>image</key>
				<string>baby_04</string>
				<key>url</key>
				<string>http://yobeyi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛初乳</string>
				<key>image</key>
				<string>baby_05</string>
				<key>url</key>
				<string>http://yashili.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>辅食</string>
				<key>image</key>
				<string>baby_06</string>
				<key>url</key>
				<string>http://heinz.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>母婴用品</string>
				<key>image</key>
				<string>baby_07</string>
				<key>url</key>
				<string>http://opensesame.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>童车童床</string>
				<key>image</key>
				<string>baby_08</string>
				<key>url</key>
				<string>http://happydino.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玩具</string>
				<key>image</key>
				<string>baby_09</string>
				<key>url</key>
				<string>http://lego.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电动遥控</string>
				<key>image</key>
				<string>baby_10</string>
				<key>url</key>
				<string>http://horizonhobby.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>防辐射</string>
				<key>image</key>
				<string>baby_11</string>
				<key>url</key>
				<string>http://joyncleon.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝宝护肤</string>
				<key>image</key>
				<string>baby_12</string>
				<key>url</key>
				<string>http://pigeon.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>食品保健</string>
		<key>image</key>
		<string>food_00</string>
		<key>url</key>
		<string>http://food.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>酒类饮品</string>
				<key>image</key>
				<string>food_01</string>
				<key>url</key>
				<string>http://xifulamu.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饼干 糖果</string>
				<key>image</key>
				<string>food_02</string>
				<key>url</key>
				<string>http://maxims.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肉类食品</string>
				<key>image</key>
				<string>food_03</string>
				<key>url</key>
				<string>http://zhouheiya.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>生鲜蔬果</string>
				<key>image</key>
				<string>food_04</string>
				<key>url</key>
				<string>http://yiguoshengxian.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>茶叶冲饮</string>
				<key>image</key>
				<string>food_05</string>
				<key>url</key>
				<string>http://xuanqinghao.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜饯炒货</string>
				<key>image</key>
				<string>food_06</string>
				<key>url</key>
				<string>http://loulanmiyu.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>钙片</string>
				<key>image</key>
				<string>food_07</string>
				<key>url</key>
				<string>http://conba.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>维生素</string>
				<key>image</key>
				<string>food_08</string>
				<key>url</key>
				<string>http://yangshengtang.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>螺旋藻</string>
				<key>image</key>
				<string>food_09</string>
				<key>url</key>
				<string>http://tangchenbeijian.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西洋参</string>
				<key>image</key>
				<string>food_10</string>
				<key>url</key>
				<string>http://bjtrtjk.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>珠宝饰品</string>
		<key>image</key>
		<string>jewelry_00</string>
		<key>url</key>
		<string>http://dai.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>饰品</string>
				<key>image</key>
				<string>jewelry_01</string>
				<key>url</key>
				<string>http://daimi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>品牌手表</string>
				<key>image</key>
				<string>jewelry_02</string>
				<key>url</key>
				<string>http://deruiheng.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>珠宝</string>
				<key>image</key>
				<string>jewelry_03</string>
				<key>url</key>
				<string>http://ctf.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>眼镜 瑞士军刀</string>
				<key>image</key>
				<string>jewelry_04</string>
				<key>url</key>
				<string>http://parzin.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>项链</string>
				<key>image</key>
				<string>jewelry_05</string>
				<key>url</key>
				<string>http://tarity.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手链手镯</string>
				<key>image</key>
				<string>jewelry_06</string>
				<key>url</key>
				<string>http://yishengyuanzb.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>戒指</string>
				<key>image</key>
				<string>jewelry_07</string>
				<key>url</key>
				<string>http://siddhi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>耳饰</string>
				<key>image</key>
				<string>jewelry_08</string>
				<key>url</key>
				<string>http://ouyaqi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黄金</string>
				<key>image</key>
				<string>jewelry_09</string>
				<key>url</key>
				<string>http://redyear.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>钻石</string>
				<key>image</key>
				<string>jewelry_10</string>
				<key>url</key>
				<string>http://zuokayi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芝宝</string>
				<key>image</key>
				<string>jewelry_11</string>
				<key>url</key>
				<string>http://zippo.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>太阳眼镜</string>
				<key>image</key>
				<string>jewelry_12</string>
				<key>url</key>
				<string>http://inmix.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>居家生活</string>
		<key>image</key>
		<string>home_00</string>
		<key>url</key>
		<string>http://muqijj.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>床上用品</string>
				<key>image</key>
				<string>home_01</string>
				<key>url</key>
				<string>http://xiuhuafuren.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四件套</string>
				<key>image</key>
				<string>home_02</string>
				<key>url</key>
				<string>http://mengjie.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蚕丝被</string>
				<key>image</key>
				<string>home_03</string>
				<key>url</key>
				<string>http://luolai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>布艺软饰</string>
				<key>image</key>
				<string>home_04</string>
				<key>url</key>
				<string>http://civil.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>家居饰品</string>
				<key>image</key>
				<string>home_05</string>
				<key>url</key>
				<string>http://dicor.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手工艺品</string>
				<key>image</key>
				<string>home_06</string>
				<key>url</key>
				<string>http://zhenjinfang.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>厨房用品</string>
				<key>image</key>
				<string>home_07</string>
				<key>url</key>
				<string>http://dapaihome.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清洁用品</string>
				<key>image</key>
				<string>home_08</string>
				<key>url</key>
				<string>http://shijia.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日化用品</string>
				<key>image</key>
				<string>home_09</string>
				<key>url</key>
				<string>http://ourunzhe.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>个人洗护</string>
				<key>image</key>
				<string>home_10</string>
				<key>url</key>
				<string>http://dimente.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宠物用品</string>
				<key>image</key>
				<string>home_11</string>
				<key>url</key>
				<string>http://gccwyp.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车生活馆</string>
		<key>image</key>
		<string>car_00</string>
		<key>url</key>
		<string>http://car.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>全新整车</string>
				<key>image</key>
				<string>car_01</string>
				<key>url</key>
				<string>http://chevrolet.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>精品内饰</string>
				<key>image</key>
				<string>car_02</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>外饰装潢</string>
				<key>image</key>
				<string>car_03</string>
				<key>url</key>
				<string>http://yumeida.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>骑士装备</string>
				<key>image</key>
				<string>car_04</string>
				<key>url</key>
				<string>http://citroen.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GPS导航</string>
				<key>image</key>
				<string>car_05</string>
				<key>url</key>
				<string>http://tiaiwait.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>车载电器</string>
				<key>image</key>
				<string>car_06</string>
				<key>url</key>
				<string>http://ozio.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>车载影音</string>
				<key>image</key>
				<string>car_07</string>
				<key>url</key>
				<string>http://aijieshi.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清洁美容</string>
				<key>image</key>
				<string>car_08</string>
				<key>url</key>
				<string>http://xinganxian.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保养用品</string>
				<key>image</key>
				<string>car_09</string>
				<key>url</key>
				<string>http://airuilin.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>配件改装</string>
				<key>image</key>
				<string>car_10</string>
				<key>url</key>
				<string>http://peugeot.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>维修工具</string>
				<key>image</key>
				<string>car_11</string>
				<key>url</key>
				<string>http://yantu.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>车辆防盗</string>
				<key>image</key>
				<string>car_12</string>
				<key>url</key>
				<string>http://chaoqianwei.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>户外运动</string>
		<key>image</key>
		<string>out_00</string>
		<key>url</key>
		<string>http://huwai.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>运动鞋</string>
				<key>image</key>
				<string>out_01</string>
				<key>url</key>
				<string>http://anta.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动服</string>
				<key>image</key>
				<string>out_02</string>
				<key>url</key>
				<string>http://lining.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动健身</string>
				<key>image</key>
				<string>out_03</string>
				<key>url</key>
				<string>http://entesiyd.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>跑步鞋</string>
				<key>image</key>
				<string>out_04</string>
				<key>url</key>
				<string>http://newbalance.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>篮球鞋</string>
				<key>image</key>
				<string>out_05</string>
				<key>url</key>
				<string>http://peak.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动外套</string>
				<key>image</key>
				<string>out_06</string>
				<key>url</key>
				<string>http://adidas.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>跑步机</string>
				<key>image</key>
				<string>out_07</string>
				<key>url</key>
				<string>http://chislim.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>泳衣</string>
				<key>image</key>
				<string>out_08</string>
				<key>url</key>
				<string>http://balneaire.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>户外鞋袜</string>
				<key>image</key>
				<string>out_09</string>
				<key>url</key>
				<string>http://merrto.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>户外服装</string>
				<key>image</key>
				<string>out_10</string>
				<key>url</key>
				<string>http://merrto.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>户外装备</string>
				<key>image</key>
				<string>out_11</string>
				<key>url</key>
				<string>http://bartonisen.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>登上野营</string>
				<key>image</key>
				<string>out_12</string>
				<key>url</key>
				<string>http://bartonisen.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>家用电器</string>
		<key>image</key>
		<string>electric_00</string>
		<key>url</key>
		<string>http://haier.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>影音电器</string>
				<key>image</key>
				<string>electric_00</string>
				<key>url</key>
				<string>http://inphicylws.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大家电</string>
				<key>image</key>
				<string>electric_02</string>
				<key>url</key>
				<string>http://haier.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>生活电器</string>
				<key>image</key>
				<string>electric_03</string>
				<key>url</key>
				<string>http://oubo.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>厨房电器</string>
				<key>image</key>
				<string>electric_04</string>
				<key>url</key>
				<string>http://haier.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>个人护理</string>
				<key>image</key>
				<string>electric_05</string>
				<key>url</key>
				<string>http://haier.tmall.com</string>
			</dict>
			<dict/>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>家具建材</string>
		<key>image</key>
		<string>furniture_00</string>
		<key>url</key>
		<string>http://dewanjia.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>床品</string>
				<key>image</key>
				<string>furniture_01</string>
				<key>url</key>
				<string>http://fuqing.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桌几</string>
				<key>image</key>
				<string>furniture_02</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>椅凳塌</string>
				<key>image</key>
				<string>furniture_03</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沙发</string>
				<key>image</key>
				<string>furniture_04</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>办公家具</string>
				<key>image</key>
				<string>furniture_05</string>
				<key>url</key>
				<string>http://fululai.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>柜子</string>
				<key>image</key>
				<string>furniture_06</string>
				<key>url</key>
				<string>http://fululai.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>架类</string>
				<key>image</key>
				<string>furniture_07</string>
				<key>url</key>
				<string>http://fululai.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>其他</string>
				<key>image</key>
				<string>furniture_08</string>
				<key>url</key>
				<string>http://fululai.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>厨卫装修</string>
				<key>image</key>
				<string>furniture_09</string>
				<key>url</key>
				<string>http://fululai.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>灯饰照明</string>
				<key>image</key>
				<string>furniture_10</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电工计件</string>
				<key>image</key>
				<string>furniture_11</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>地面材料</string>
				<key>image</key>
				<string>furniture_12</string>
				<key>url</key>
				<string>http://fululai.tmall.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>文化娱乐</string>
		<key>image</key>
		<string>culture_00</string>
		<key>url</key>
		<string>https://book.tmall.com</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>餐饮美食</string>
				<key>image</key>
				<string>culture_01</string>
				<key>url</key>
				<string>http://amdlfw.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>摄影写真</string>
				<key>image</key>
				<string>culture_02</string>
				<key>url</key>
				<string>http://jialisheying.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电影票</string>
				<key>image</key>
				<string>culture_03</string>
				<key>url</key>
				<string>http://ycwshfw.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>美容美发</string>
				<key>image</key>
				<string>culture_04</string>
				<key>url</key>
				<string>http://mofameiren.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>体育赛事</string>
				<key>image</key>
				<string>culture_05</string>
				<key>url</key>
				<string>http://dmpw.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>图书杂志</string>
				<key>image</key>
				<string>culture_06</string>
				<key>url</key>
				<string>http://book.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>音像制品</string>
				<key>image</key>
				<string>culture_07</string>
				<key>url</key>
				<string>http://szxhtsyx.tmall.com </string>
			</dict>
			<dict>
				<key>name</key>
				<string>鲜花速递</string>
				<key>image</key>
				<string>culture_08</string>
				<key>url</key>
				<string>http://huazhiyujj.tmall.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>个性定制</string>
				<key>image</key>
				<string>culture_09</string>
				<key>url</key>
				<string>http://miaomiaoyin.tmall.com </string>
			</dict>
		</array>
	</dict>
</array>
</plist>
